@if (items().length) {
  <div class="category">
    <div class="category-head">
      <h2>{{name()}}</h2>
      @if (link()) {<a href="{{link()}}">view all</a>}
    </div>
    <div class="category-items">
      @for (film of items(); track film.id) {
      <a routerLink="/movie/{{film.id}}" class="category-item">
        <poster path={{film.poster_path}} [size]="size" />
        <div class="desc">
          <div class="desc-name">{{film.title}}</div>
          @if (film.role) {<div class="desc-role">{{film.role}}</div>}
        </div>
      </a>
      }
    </div>
  </div>
}