@if (items().length) {
  <div class="category">
    <div class="category-head">
      <h2>{{name()}}</h2>
    </div>
    <div class="category-items">
      @for (person of items(); track person.id) {
        <a routerLink="/person/{{person.id}}" class="category-item">
          <poster path={{person.profile_path}} [size]="size" />
          <div class="desc">
            <div class="desc-name">{{person.name}}</div>
            <div class="desc-role">{{person.role}}</div>
          </div>
        </a>
      }
    </div>
  </div>
}